@import "~bootstrap/scss/bootstrap";

$font-stack: "Gangster", sans-serif;
$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;
$background-color-dark: #1f1f1f;
$background-color-light: #ffffff;

@font-face {
  font-family: "Gangster";
  src: local("Gangster"), url(./assets/gangstergrotesk-bold.woff) format("woff");
}
@mixin parallax-init(
  $perspective: $parallax-perspective,
  $element: $parallax-element,
  $parallax-ios: $parallax-ios
) {
  @if $element == "body" {
    html,
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  }
  #{$element} {
    overflow: auto;
    perspective: $perspective * 1px;
    transform-style: preserve-3d;
    // Allows for smooth scrolling but disables parallax effects.
    @if $parallax-ios == false {
      -webkit-overflow-scrolling: touch;
    }
    // Preserve 3D
    &,
    * {
      transform-style: preserve-3d;
    }
  }
}

@mixin parallax($distance: 0, $perspective: $parallax-perspective) {
  transform: translateZ($distance * $perspective * 1px);
  //   scale(abs($distance - 1));
  z-index: $distance * 1000;
}

@include parallax-init;
h4 {
  text-transform: uppercase;
}

body.dark-mode {
  font: 100% $font-stack;
  background-color: $background-color-light;
  color: $background-color-dark;
  a {
    color: black;
    font-weight: 500;
  }
  a:hover {
    color: black;
  }
  .modeIcon {
    background-image: url(assets/moon.svg);
  }
  .black-container {
    background-color: #ffffff;
  }
}

body {
  font: 100% $font-stack;
  background-color: $background-color-dark;
  color: $background-color-light;
  a {
    color: white;
    font-weight: 700;
  }
  a:hover {
    color: white;
  }
  .modeIcon {
    background-image: url(assets/sun.svg);
  }
  .row {
    margin-bottom: 15px;
  }
  .black-container {
    background-color: #1f1f1f;
  }
}

.black-container {
  position: absolute;
  top: 0;
  z-index: 10000;
}

html {
  font-size: 18px;
}

h1 {
  font-weight: 500;
  font-size: 5rem;
}

h2 {
  font-weight: 500;
  font-size: 3rem;
}

.spacer {
  padding-top: 5rem;
}

.header {
  padding-top: 20px;
  padding-left: 20px;
}

.hiddenDiv {
  display: none;
}

.center {
  text-align: center;
}

.full-width {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
}

.accordion-lines {
  padding-top: 2em;
  padding-bottom: 2rem;
}

.grid1 {
  display: grid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 100px);
}

@media (min-width: 600px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .grid1 {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat(12, 100px);
    grid-gap: 2rem;
  }
}

.mainContainer {
  position: relative;
  width: 100%;
  height: 700px;
  mix-blend-mode: luminosity;
  background-size: cover;
  overflow: hidden;
}

.mainImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-size: cover;
}

.pageMainImg {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.parallaxSlow {
  @include parallax(0.09);
}

.parallaxFast {
  @include parallax(0.15);
}

//5 cols, 10 rows

.stats {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.container-slide {
  visibility: hidden;
}

.img-container {
  position: relative;
  overflow: hidden;
  img {
  }
}

.inlineImg {
  max-width: 100px;
}

p {
  line-height: 1.7rem;
  font-family: sans-serif;
}

.p-small {
  font-size: 12px;
}

.absolute {
  position: absolute;
  word-break: break-word;
}

.largeText {
  font-size: 8rem;
  color: white;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
}

.textTop {
  position: absolute;
  top: 0;
}
.textBottom {
  position: absolute;
  bottom: 0;
}

// .c-projects {
//   display: block;
//   padding: 10rem 0;
// }

// .c-projects_row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: stretch;
// }

// .c-projects_item {
//   display: flex;
//   position: relative;
//   width: 50%;
//   padding-bottom: 11.42857rem;
//   padding-left: 5.71429rem;
// }

// .c-projects_wrap {
//   height: 100%;
//   position: relative;
// }

// .c-projects_wrap img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 400px;
//   height: auto;
// }

// .c-projects_inner {
//   display: flex;
//   width: 100%;
//   height: 100%;
//   align-items: center;
// }

// .c-projects_item:nth-child(1) {
//   padding-right: 10%;
// }

// .c-projects_item:nth-child(2) {
//   padding-bottom: 10rem;
// }

// .c-projects_item:nth-child(3) {
//   padding-left: 20rem;
//   margin-bottom: -20rem;
// }

// .c-projects_item:nth-child(1) .c-projects_inner {
//   margin-top: 5rem;
//   padding-bottom: 5rem;
// }

// .c-projects_item:nth-child(2) .c-projects_inner {
//   margin-top: -2rem;
// }

.image-col {
  padding: 2rem;
}
